body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.jumbotron {
  background-image: linear-gradient(to right, blue, darkblue);
}

.uvi-low {
  background-color: green;
  color: white;
  border: 1px outset black;
  border-radius: 5px;
  margin: 3px;
  padding: 3px 8px;
}

.uvi-moderate {
  background-color: yellow;
  color: black;
  border: 1px outset black;
  border-radius: 5px;
  margin: 3px;
  padding: 3px 8px;

}

.uvi-high {
  background-color: orange;
  color: black;
  border: 1px outset black;
  border-radius: 5px;
  margin: 3px;
  padding: 3px 8px;

}

.uvi-veryHigh {
  background-color: red;
  color: white;
  border: 1px outset black;
  border-radius: 5px;
  margin: 3px;
  padding: 3px 8px;

}

.uvi-extreme {
  background-color: purple;
  color: white;
  border: 1px outset black;
  border-radius: 5px;
  margin: 3px;
  padding: 3px 8px;

}